.news-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06A29B;
  color: white;
  height: 2em;
  margin-top: 0;
  width: 100%;
}

/* @media screen and (min-width: 360px) {

  .news-header {
    width: 109%; 
  }
} */